:root{
    --title--color:#322153;
    --primary-color:#34cb79;
}

html{
    font-family: 'Roboto', sans-serif;
}

body{
    background: #f0f0f5;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Ubuntu', sans-serif;
    color: var(--title--color);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#search-result{
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    }
    
    #search-result header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 48px;
    
    }
    
    #search-result header a{


        color: var(--title-color);
        font-weight: bold;
        display: flex;
        align-items: center;
        text-decoration: none;
    
    }
    
    #search-result header a span{
    
        background-image: url('../icones/arrow-left.svg');
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        margin-right: 16px;
    
    }




